{% extends "layout.html" %} 

{% block title %}
  View Project
{% endblock %}

{% block main %}
  <script>
    const handleFetchResponse = async (response) => {
    if (!response.ok) {
        const error = await response.json();
        throw Error(error.message)
      }

      return response.json();
  }
  </script>

  <div class="d-flex align-items-center my-3">
    <div class="circle {{ 'bg-success' if project.is_open|int == 1 else 'bg-danger'}}"></div>
    <h3>{{ project.name }}</h3>
  </div>

  <p>
    Admin: {{ project.admin.userDisplayName }}
  </p>

  <p class="lead">
    {{ project.description }}
  </p>

  <div class="d-flex">
    <h3>Issues</h3>
    <button class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#issueModal">Create</button>
  </div>
  {% include "/partials/issues.html" %}
  
  <h3>Contributors</h3>
  {% if project["userIsAdmin"] %}
    {% include "/projects/contributorForm.html" %}
  {% endif %}

  {% include "/projects/contributors.html" %}


  {% if project["userIsAdmin"] %}
    <div class="d-flex justify-content-end">
      <button class="btn btn-danger" disabled>Delete Project</button>
    </div>
  {% endif %}
{% endblock %}
